{% extends "admin_panel/base.html" %}
{% load static %}


{% block title %}Access List{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/css/select_users.css' %}">
<style>
.popup {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.6);
}

.popup-content {
position: relative;
width: 80%;
height: 80%;
margin: 5% auto;
background: white;
border-radius: 10px;
overflow: hidden;
}

.popup iframe {
width: 100%;
height: 100%;
}

.close {
position: absolute;
right: 10px;
top: 5px;
font-size: 24px;
cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<div style="display: flexbox;">
  <div>
    <h1>Granted Access Users</h1>
    <a class="btn_red" href="{% url 'admin_panel:collections' %}">Back</a>
    <table border="1" style="margin: 10 10px">
      <tr>
        <th>User ID</th>
        <th>Full Name</th>
        <th>Department</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      {% for user in allowed_users %}
      <tr>
        <td>{{ user.user_id }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.department }}</td>
        <td>
          <span class="btn"
          {% if user.role == 10 %}
          style="background-color: #3498db;">
          {% elif user.role == 11 %}
          style="background-color: #21cc0a;">
          {% elif user.role == 12 %}
          style="background-color: #dbb732;">
          {% elif user.role == 99 %}
          style="background-color: #32cddb;">
          {% endif %}
          {{ user.get_role_display }}</span>
        </td>
        <td>
          {% if user.role == 12 or user.role == 99 %}
          {% include 'module/access_action_admin_user.html' with role_value=user_access.role is_superuser=user_model.is_superuser %}
          {% else %}
          {% include 'module/access_action.html' %}
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">ไม่มีผู้ที่มีสิทธิเข้าถึงระบบได้</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <div id="loading" style="display: none; text-align: center; align-content: center;">
      </div>
      <iframe id="popup-frame" src="" frameborder="0">
        Waiting...
      </iframe>
    </div>
  </div>
</div>


<!-- <a href="">Go to Select Users</a> -->
<button onclick="openPopup()">Add Access List</button>
{% endblock %}

{% block script %}
<script>
function openPopup() {
  document.getElementById("popup").style.display = "block";
  document.getElementById("popup-frame").src = "{% url 'admin_panel:select_users' %}";
  document.getElementById("loading").style.display = "block";
}

function closePopup() {
  document.getElementById("popup").style.display = "none";
  document.getElementById("popup-frame").src = "";
  document.getElementById("loading").style.display = "none";
  window.location.reload();
}
</script>
{% endblock %}

<!-- <a href="">Go to Select Users</a> -->
<!-- <button onclick="openPopup()">Add Access List</button>

<script>
function openPopup() {
  let popup = window.open("{% url 'admin_panel:select_users' %}", 'Popup', 'width=600, height=400');

  const timer = setInterval(() => {
      if (popup.closed) {
          clearInterval(timer);
          window.location.reload();
      }
  }, 500);
}
</script> -->