<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Tools Collections</title>
</head>
<body>
    <h1>Admin Tools Collections</h1>

    <h3><a href="/admin/" style="text-decoration: none;">Django Built-in Admin Site</a></h3>
    <h3><a href="{% url 'admin_panel:signup' %}" style="text-decoration: none;">Easy User Signup</a></h3>
    {% comment %} <h3><a href="{% url ''%}">  {% endcomment %}
</body>
</html>