{% load static %}
{% load thai_locale %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    <section>
        <h1>Normal Log</h1>
        <div>
            {% include 'module/log_table.html' with logs=normal_logs %}
        </div>
    </section>
    <section>
        <h1>Errors Log</h1>
        <div>
            {% include 'module/log_table.html' with logs=errors_logs %}
        </div>
    </section>
    <section>
        <h1>Denied Log</h1>
        <div>
            {% include 'module/log_table.html' with logs=denied_logs %}
        </div>
    </section>
</body>
</html>