<h1>Select ERP Users</h1>

{% if success %}
  <p style="color: green;">{{ success }}</p>
{% endif %}

{% if connect_error %}

<p>Connection to ERP Service Failed.</p>

{% endif %}

<a href="{% url 'admin_panel:collections' %}">Back to Collections</a>

<form method="get">
  <label for="dept">Filter by ID:</label>
  <input type="text" name="id" placeholder="Filter by ID" value="{{ request.GET.id }}">
  
  <label for="dept">Filter by Name:</label>
  <input type="text" name="name" placeholder="Filter by Name" value="{{ request.GET.name }}">
  
  <label for="dept">Filter by Department:</label>
  <input type="text" name="dept" id="dept" placeholder="Filter by Department" value="{{ request.GET.dept }}">
  
  <label for="position">Filter by Position:</label>
  <input type="text" name="position" id="position" placeholder="Filter by Position" value="{{ request.GET.position }}">
  
  <button type="submit">Apply Filter</button>
</form>

<form method="post" id="select_users_form">
  {% csrf_token %}
  <table border="1" style="margin: 10 10px">
    <thead>
      <tr>
        <th>Select</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td><input type="checkbox" name="selected_users" value="{{ user.USR_ID }}"></td>
        <td>{{ user.USR_ID }}</td>
        <td>{{ user.USR_PREFIX }}{{ user.USR_FNAME }} {{ user.USR_LNAME }}</td>
        <td>{{ user.Dept }}</td>
        <td>{{ user.Position }}</td>
      </tr> 
      {% empty %}
      <tr>
        <td colspan="5">Cannot get Data</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button>Grant Access</button>
</form>