{% load static %}

{% if status == "error" %}
<h3>ข้อมูลที่กรอกมีข้อผิดพลาด</h3>
{% endif %}

    {% if not disabled %}
    {% csrf_token %}
    {% endif %}

    {{ form.court_code.as_hidden }}
    {{ form.police_station_id.as_hidden}}
    {{ form.req_no_plaintiff.as_hidden }}
    {{ form.create_uid.as_hidden }}
    {{ form.ref_no.as_hidden }}
    

    <div class="form-header-row">    
        <p>(คำร้อง) <br><br>ขอออกหมายจับ </p>
        <img src="{% static 'images/Thai_Goverment_Emblem.jpg' %}" alt="Thai Emblem" class="emblem">
        <p style="text-align: right;"> ที่ {{form.req_form_number}}</p>
    </div>
    <p>{{form.req_case_type_id}}</p>
    <div class="type_and_court">
        <p><span>รับคำร้อง</span><span>ศาล {{form.court_name_1}}</span></p> 
        <p class="date-widget"><span>เรียกสอบ</span><span>วัน {{form.req_day}} เดือน {{form.req_month}} พ.ศ. {{form.req_year}}</span></p>
    </div>

    <p class="judge-paragraph">
      <span class="judge-input">{{ form.judge_name }}</span> ผู้พิพากษา
    </p>


    <div class="first_plaintiff">
        <p align="center">ความอาญา <br></p>
        <p align="right">{{ form.plaintiff_1 }} ผู้ร้อง</p>
    </div>

    <p align="right">
        <span>ข้าพเจ้า {{ form.req_name }}</span>
        <span>ตำแหน่ง {{ form.req_pos }}</span>
    </p>
    
    <div class="req-info-1">
        <p>
            <span class="double-spans">
                <span>
                    <span class="req-info-label-left">อายุ</span>
                    <span>{{ form.req_age }} ปี</span>
                </span>
            </span>
            <span style="margin-left: 8px; margin-right: 8px;">
                <span>อาชีพ พนักงานของรัฐ</span> 
            </span>
            <span style="flex: 3.4;">
                <span class="req-info-label-left" style="margin-right: 8px;">สถานที่ทำงาน</span> 
                {{ form.req_office }}
            </span>
        </p>
    </div>

    <div class="req-info-2">
        <p>
            <span>
                <span class="req-info-label-left">จังหวัด</span> 
                <span>{{ form.req_province }}</span>
            </span>
            <span>
                <span class="req-info-label-mid">อำเภอ/เขต </span>
                {{ form.req_district }}
            </span>
            <span>
                <span class="req-info-label-right">ตำบล/แขวง </span>
                {{ form.req_sub_district }}
            </span>
        </p>
     
        <p> 
            <span style="flex: 1;">
                <span class="req-info-label-left">โทรศัพท์</span> 
                <span> {{ form.req_tel }}</span>
            </span>
            <span class="req-info-label-mid" style="text-align: left; flex: 2;">
                ขอยื่นคำร้องขอออกหมายจับยื่นต่อศาลดังมีข้อความที่จะกล่าวดังต่อไปนี้
            </span>
        </p>
    </div> 
    
    <div class="cause-type">
        <p class="cause-id-paragraph">
            <span style="min-width: 60px;">
                ข้อ 1. {{ form.cause_type_id_1 }}
            </span> 
            <span style="flex: 1; display: flex;justify-content: space-between;
                            align-items: center;">
                <span style="margin-right: 16px;">
                    ด้วย
                </span> 
            {{ form.cause_text_1 }}
            </span>
        </p>
        <p> มาแจ้งความร้องทุกข์ต่อพนักงานสอบสวน</p>

        <p class="cause-id-paragraph">
            <span style="display: flex; flex: 1; align-items: center;">
                <span style="min-width: 60px; text-align: end;">
                    {{ form.cause_type_id_2 }}
                </span>
                <span style="margin-right:0.5rem;">
                    ปรากฎจากการสืบสวน/สอบสวนของ 
                </span>
                {{ form.cause_text_2 }}
            </span>
        </p>
    </div>
    
    {% include 'module/reqform/acc_info.html' %}

    <p> 
        {{ form.charge_type_1 }} ได้หรือน่าจะได้กระทำความผิดอาญาร้ายแรงซึ่งมีอัตราโทษจำคุกอย่างสูงเกิน 3 ปี
    </p>
    <p> 
        {{ form.charge_type_2 }} 
        ได้หรือน่าจะได้กระทำความผิดอาญา และน่าจะหลบหนีหรือจะไปยุ่งเหยิงกับพยานหลักฐานหรือก่ออันตรายประการอื่น
    </p>

    <span style="vertical-align: top;">เหตุเกิดที่</span> 
    <p class="text-area-para">
        {{ form.scene }}
    </p>

    <p>เมื่อวันที่ {{ form.scene_date_day }} เดือน {{ form.scene_date_month }} พ.ศ. {{ form.scene_date_year }} เวลา {{form.scene_date_timehalf}} นาฬิกา</p>

    <span>มีพฤติการณ์กระทำความผิดที่เกี่ยวกับเหตุออกหมายจับ คือ </span>
    <p class="text-area-para">
        {{ form.act}} 
    </p>
    <span style="vertical-align: top;">เป็นการกระทำความผิดฐาน</span>
    <p class="text-area-para">
        {{ form.charge}}
    </p>

    <p style="flex: 1; display: flex;justify-content: space-between;
                            align-items: center;">
        <span style="margin-right: 8px;">
            ตามกฎหมาย 
        </span>
        {{ form.law }} 
    </p>
    <p>รายละเอียดข้อมูลและพยานหลักฐาน ปรากฎตามที่เอกสารที่แนบมาพร้อมนี้</p>

    <p class="cause-id-paragraph">
      <span>ข้อ 2. ผู้ร้องประสงค์จะทำการจับกุม</span>
      <span class="accused-input">{{ form.accused_1 }}</span>
    </p>

    
    <p>จึงขอให้ศาลออกหมายจับ   {{ form.accused_2 }} มาดำเนินคดี</p>

    {% include 'module/reqform/woa_date.html' %}
    
    <p>ในการยื่นคำร้องนี้ ผู้ร้องได้มอบหมายให้ {{ form.agent_name }}</p>
    <p>ตำแหน่ง {{ form.agent_pos }} ซึ่งเป็นผู้ใต้บังคับบัญชา เป็นผู้นำคำร้องมายื่นต่อศาล </p>
    <p>และหากศาลเรียกสอบถามเมื่อใด ผู้ร้องพร้อมจะมาให้ศาลสอบในทันที</p>

    <p align="right">ผู้ร้อง  {{form.have_req_1}} เคย {{form.have_req_2}} ไม่เคย ร้องขอให้ศาล {{form.court_name_2}}</p>
    <p>ออกหมายจับบุคคลดังกล่าว โดยอาศัยเหตุแห่งการร้องขอเดียวกันนี้ หรือเหตุอื่น (ระบุ) </p>
    <p style="flex: 1; display: flex;justify-content: space-between;
                            align-items: center;">
        {{ form.have_act }}
    </p>
    <p style="flex: 1; display: flex;justify-content: space-between;
                            align-items: center;">
        <span style="margin-right: 8px;">และศาลสั่ง </span>
        {{ form.have_injunc }}
    </p>
    
    <p align="center">ควรมิควรแล้วแต่จะโปรด</p>

    <p align="center">
      (ลงชื่อ) 
      <span class="plaintiff_2">{{ form.plaintiff_2 }}</span>  
      ผู้ร้อง
    </p>

    {% if not disabled %}
    <p style="display: flex; justify-content: center; margin: 30px 0px"> <button type="submit" class="button no-print" style="background-color: green; margin: 0px;font-size: 2rem;">หน้าถัดไป</button> </p>
    {% endif %}
