# AWIS API URLS
BASE_URL="http://000.000.000.000/"
API_DIR="api/"
FULL_API_URL=${BASE_URL}${API_DIR}

## ERP API URLS
AUTH_URL="http://000.000.000.000:8000/"
ORG_API_FETCH_USERS="http://000.000.000.000:8000/fetch_users_ERP"

# SECRETS
DJANGO_KEY="USE THIS SITE: https://djecrety.ir/"
JWT_SECRET="Find a way to generate it somehow. Maybe just secrets.token_hex(32)"

# EMAIL FOR TOKEN VERIFY
EMAIL_HOST_USER="OTP.ex@gmail.com"
EMAIL_HOST_PASSWORD="aaaa aaaa aaaa aaaa"

# AWIS AUTH CREDENTIALS
API_USERNAME="super amazing username"
API_PASSWORD="super secure password"

# STARTING SYSTEM ADMIN INFO
INIT_ADMIN_ID=12345
INIT_ADMIN_PREFIX="INFORMATION"
INIT_ADMIN_FNAME="INFORMATION"
INIT_ADMIN_LNAME="INFORMATION"
INIT_ADMIN_DEPT="INFORMATION"
INIT_ADMIN_POSITION="INFORMATION"

# DB CREDENTIALS
DB_NAME="DATABASE_NAME"
DB_USER="DATABASE_USER"
DB_PASSWORD="DATABASE_PASSWORD"
DB_ROOT_PASSWORD="DATABASE_ROOT_PASSWORD"
DB_HOST="DATABASE_HOST"
DB_PORT=0000