BASE_URL="http://000.000.000.000/"
API_DIR="api/"

FULL_API_URL=${BASE_URL}${API_DIR}

DJANGO_KEY="USE THIS SITE: https://djecrety.ir/"

JWT_SECRET="testkey"

EMAIL_HOST_USER=OTP.ex@gmail.com
EMAIL_HOST_PASSWORD=aaaa aaaa aaaa aaaa

DB_NAME=DATABASE_NAME
DB_USER=DATABASE_USER
DB_PASSWORD=DATABASE_PASSWORD
DB_ROOT_PASSWORD=DATABASE_ROOT_PASSWORD
DB_HOST=DATABASE_HOST
DB_PORT=0000