{% load static %}

{% if status == "error" %}
<h3>ข้อมูลที่กรอกมีข้อผิดพลาด</h3>
{% endif %}

<form id="awis-form" onsubmit="confirmForm()" method="post">
    {% csrf_token %}
    
    {{ form.court_code.as_hidden }}
    {{ form.police_station_id.as_hidden}}
    {{ form.req_no_plaintiff.as_hidden }}
    {{ form.create_uid.as_hidden }}

    <div class="form-header-row">    
        <p>(คำร้อง) <br><br>ขอออกหมายจับ </p>
        <img src="{% static 'images/Thai_Goverment_Emblem.jpg' %}" alt="Thai Emblem" class="emblem">
        <p> ที่ {{form.req_form_number}}</p>
    </div>
    <p>{{form.req_case_type_id}}</p>
    <div class="type_and_court">
        <p><span>รับคำร้อง</span><span>ศาล {{form.court_name_1}}</span></p> 
        <p class="date-widget"><span>เรียกสอบ</span><span>วัน {{form.req_day}} เดือน {{form.req_month}} พ.ศ. {{form.req_year}}</span></p>
    </div>

    <p class="judge-paragraph">
      <span class="judge-input">{{ form.judge_name }}</span> ผู้พิพากษา
    </p>


    <div class="first_plaintiff">
        <p align="center">ความอาญา <br></p>
        <p align="right">{{ form.plaintiff_1 }} ผู้ร้อง</p>
    </div>
    
    <p align="right">
        <span>ข้าพเจ้า {{ form.req_name }}</span>
        <span>ตำแหน่ง {{ form.req_pos }}</span>
    </p>

    <div class="special-multi-flex">
        <p>
            <span class="double-input">
                <span>
                    อายุ 
                </span>
                <span class="double-input-insides" style="min-width: 11rem;">
                    <span>{{ form.req_age }} ปี</span> <span>อาชีพ พนักงานของรัฐ</span>
                </span>
            </span>
            <span>
                สถานที่ทำงาน {{ form.req_office }}
            </span>
        </p>
    </div>
    <div class="acc-info">
        <p>
            <span>จังหวัด {{ form.req_province }}</span>
            <span>อำเภอ/เขต {{ form.req_district }}</span>
            <span>ตำบล/แขวง {{ form.req_sub_district }}</span>
        </p>
     
        <p> 
            <span>โทรศัพท์ {{ form.req_tel }} </span>
            <span style="text-align: left;">
                ขอยื่นคำร้องขอออกหมายจับยื่นต่อศาลดังมีข้อความที่จะกล่าวดังต่อไปนี้
            </span>
        </p>
    </div> 
    
    {% include 'module/cause_type_num1.html' %}

    <p style="max-width: 42rem; margin-left: 8rem; display:flex; align-items:center; flex-wrap:nowrap;">
      {{ form.cause_type_id_2 }} ปรากฎจากการสืบสวน/สอบสวนของ 
      <span style="flex:1; margin-left:0.5rem;">
        {{ form.cause_text_2 }}
      </span>
    </p>
    
    {% include 'module/acc_info.html' %}

    <p> {{ form.charge_type_1 }} ได้หรือน่าจะได้กระทำความผิดอาญาร้ายแรงซึ่งมีอัตราโทษจำคุกอย่างสูงเกิน 3 ปี</p>
    <p> {{ form.charge_type_2 }} ได้หรือน่าจะได้กระทำความผิดอาญา และน่าจะหลบหนีหรือจะไปยุ่งเหยิงกับพยานหลักฐานหรือก่ออันตรายประการอื่น</p>

    <p><span style="vertical-align: top;">เหตุเกิดที่</span> {{ form.scene }}</p>
    <p>เมื่อวันที่ {{ form.scene_date_day }} เดือน {{ form.scene_date_month }} พ.ศ. {{ form.scene_date_year }} เวลา {{form.scene_date_timehalf}} นาฬิกา</p>

    <p>มีพฤติการณ์กระทำความผิดที่เกี่ยวกับเหตุออกหมายจับ คือ {{ form.act}} </p>
    <p><span style="vertical-align: top;">เป็นการกระทำความผิดฐาน</span> {{ form.charge}}</p>

    <p>ตามกฎหมาย {{ form.law }} </p>
    <p>รายละเอียดข้อมูลและพยานหลักฐาน ปรากฎตามที่เอกสารที่แนบมาพร้อมนี้</p>

    <p class="cause-id-paragraph">
      <span>ข้อ 2. ผู้ร้องประสงค์จะทำการจับกุม</span>
      <span class="accused-input">{{ form.accused_1 }}</span>
    </p>

    
    <p>จึงขอให้ศาลออกหมายจับ   {{ form.accused_2 }} มาดำเนินคดี</p>

    {% include 'module/woa_date.html' %}
    
    <p>ในการยื่นคำร้องนี้ ผู้ร้องได้มอบหมายให้ {{ form.agent_name }}</p>
    <p>ตำแหน่ง {{ form.agent_pos }} ซึ่งเป็นผู้ใต้บังคับบัญชา เป็นผู้นำคำร้องมายื่นต่อศาล <br>และหากศาลเรียกสอบถามเมื่อใด ผู้ร้องพร้อมจะมาให้ศาลสอบในทันที</p>

    <p align="right">ผู้ร้อง  {{form.have_req_1}} เคย {{form.have_req_2}} ไม่เคย ร้องขอให้ศาล {{form.court_name_2}}</p>
    <p>ออกหมายจับบุคคลดังกล่าว โดยอาศัยเหตุแห่งการร้องขอเดียวกันนี้ หรือเหตุอื่น (ระบุ) </p>
    <p>{{ form.have_act }}</p>
    <p>และศาลสั่ง {{ form.have_injunc }} </p>
    
    <p align="center">ควรมิควรแล้วแต่จะโปรด</p>

    <p align="center">
      (ลงชื่อ) 
      <span class="plaintiff_2">{{ form.plaintiff_2 }}</span>  
      ผู้ร้อง
    </p>

    {% if not disabled %}
    <button type="submit">Next</button>
    {% endif %}
</form>

