{% load static %}

<p>woa start date {{ form.woa_start_date_day }} {{ form.woa_start_date_month }} {{ form.woa_start_date_year }}</p>
<p>woa start time {{ form.woa_start_date_timehalf }}</p>
<p>woa end date {{ form.woa_end_date_day }} {{ form.woa_start_date_month }} {{ form.woa_start_date_year }}</p>
<p>woa end time {{ form.woa_end_date_timehalf }}</p>

เมื่อวันที่ {{ form.scene_date_day }} เดือน {{ form.scene_date_month }} พ.ศ. {{ form.scene_date_year }} เวลา {{form.scene_date_timehalf}} นาฬิกา