{% load static %}
<link rel="stylesheet" href="{% static 'css/draft_reqform.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draft Reqform</title>
    <script src="{% static 'js/get_cookie.js' %}"></script>
    <script src="{% static 'js/fetchDistrict.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script type="module">
    import flatpickr from 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/+esm'
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/th.js"></script>
</head>
<body>

    <form method="post">
    <button type="button" onclick="window.history.back()" class="back-button">กลับ</button>
        {% csrf_token %}

        <h1>สร้างคำร้อง </h1>
        <div>
            <h2>หมายเลขคำร้อง</h2>
            <p>UID:     {{ draft_form.create_uid }}</p>
            <p>หมายเลขอ้างอิง:         {{ draft_form.ref_no }}</p>
        </div>

        <div>
            <h2>คำร้อง</h2>
            <!-- <p>reqno:              {{ draft_form.reqno }}</p> -->
            <p>หมายเลขคำร้อง:    {{ draft_form.req_form_number }}</p>
            <p>วันที่สร้างคำร้อง: {{ draft_form.req_day  }}{{ draft_form.req_month }}{{ draft_form.req_year }}</p>
            <p>ประเภทคำร้อง:   {{ draft_form.req_case_type_id }}</p>
            <p>หมายเลขโจทก์:   {{ draft_form.req_no_plaintiff }}</p>
        </div>

        <div>
            <h2>ศาล และตำรวจ</h2>
            <p>ศาล:         {{ draft_form.court_code }}</p>
            <p>หมายเลขสถานีตำรวจ:  {{ draft_form.police_station_id }}</p>
        </div>

        <div>
            <h2>โจทก์ และผู้ต้องหา</h2>
            <p>ชื่อโจทก์:    {{ draft_form.plaintiff }}</p>
            <p>ชื่อผู้ต้องหา:            {{ draft_form.accused }}</p>
        </div>

        <div>
            <h2>ข้อมูลผู้กรอกคำร้อง</h2>
            <p>ผู้กรอกคำร้อง:           {{ draft_form.req_name }}</p>
            <p>ตำแหน่งผู้กรอกคำร้อง :            {{ draft_form.req_pos }}</p>
            <p>สถานที่ทำงานของผู้กรอกคำร้อง:         {{ draft_form.req_office }}</p>
            <p>อายุผู้กรอกคำร้อง:            {{ draft_form.req_age }}</p>
            <p>ตำบล/แขวง:   {{ draft_form.req_sub_district }}</p>
            <p>อำเภอ/เขต:       {{ draft_form.req_district }}</p>
            <p>จังหวัด:       {{ draft_form.req_province }}</p>
            <p>หมายเลขโทรศัพท์ผู้กรอกคำร้อง:            {{ draft_form.req_tel }}</p>
        </div>

        <div>
            <h2>ข้อมูลผู้ต้องหา</h2>
            <p>ชื่อเต็มผู้ต้องหา:      {{ draft_form.acc_full_name }}</p>
            <p>ประเภทบัตรผู้ต้องหา:      {{ draft_form.acc_card_type }}</p>
            <p>รหัสบัตรประจำตัวผู้ต้องหา:        {{ draft_form.acc_card_id }}</p>
            <p>อายุผู้ต้องหา:            {{ draft_form.acc_age }}</p>
            <p>เชื้อชาติผู้ต้องหา:         {{ draft_form.acc_origin }}</p>
            <p>สัญชาติผู้ต้องหา:         {{ draft_form.acc_nation }}</p>
            <p>อาชีพผู้ต้องหา:     {{ draft_form.acc_occupation }}</p>
            <p>บ้านเลขที่ผู้ต้องหา:          {{ draft_form.acc_addno }}</p>
            <p>หมู่บ้าน:          {{ draft_form.acc_vilno }}</p>
            <p>ถนน:           {{ draft_form.acc_road }}</p>
            <p>ซอย:            {{ draft_form.acc_soi }}</p>
            <p>ใกล้เคียง:           {{ draft_form.acc_near }}</p>
            <p>ตำบล/แขวง:   {{ draft_form.acc_sub_district }}</p>
            <p>อำเภอ/เขต:       {{ draft_form.acc_district }}</p>
            <p>จังหวัด:       {{ draft_form.acc_province }}</p>
            <p>เบอร์โทร:            {{ draft_form.acc_tel }}</p>
        </div>

        <div>
            <h2>ประเภทคำร้อง</h2>
            <p>ประเภท เหตุผลที่จับกุม:      {{ draft_form.cause_type_id }}</p>
            <p>เหตุผลที่จับกุม:         {{ draft_form.cause_text }}</p>
            <p>ฐานความผิด:             {{ draft_form.charge }}</p>
            <p>ได้หรือน่าจะได้กระทำความผิดอาญาร้ายแรง </br>
                ซึ่งมีอัตราโทษจำคุกอย่างสูงเกิน 3 ปี:      {{ draft_form.charge_type_1 }}</p>
            <p>ได้หรือน่าจะได้กระทำความผิดอาญาและน่าจะหลบหนี </br>
                หรือจะไปยุ่งเหยิงกับพยานหลักฐานหรือก่ออันตรายประการอื่น:      {{ draft_form.charge_type_2 }}</p>
            <p>สถานที่เกิดเหตุ:              {{ draft_form.scene }}</p>
            <p>วัน/เวลาที่เกิดเหตุ:         {{ draft_form.scene_date }}</p>
        </div>

        <div>
            <h2>ความผิด</h2>
            <p>การกระทำผิด (มีพฤติการกระทำความผิด) : {{ draft_form.act }}</p>
            <p>เป็นความผิดตามกฎหมาย:               {{ draft_form.law }}</p>
            <p>ซึ่งเป็นคดีที่อยู่ในอำนาจศาล:  {{ draft_form.court_owner_code }}</p>
            <p>มีอายุความ:      {{ draft_form.prescription }}</p>
            <p>เริ่มนับอายุความตั้งแต่วันที่:    {{ draft_form.woa_start_date }}</p>
            <p>ไม่เกินวันที่:      {{ draft_form.woa_end_date }}</p>
        </div>

        <div>
            <h2>ผู้มีส่วนร่วม </h2>
            <p>ผู้ยื่น:         {{ draft_form.agent_name }} </p>
            <p>ตำแหน่งผู้ยื่น:          {{ draft_form.agent_pos }}</p>
            <p>ชื่อ ผู้พิมพ์/เขียน:        {{ draft_form.writer_name }}  </p>
            <p>ตำแหน่ง ผู้พิมพ์/เขียน:     {{ draft_form.write_position }}     </p>
            <p>ชื่อผู้เรียบเรียง:      {{ draft_form.composer_name }}    </p>
            <p>ตำแหน่งผู้เรียบเรียง:  {{ draft_form.composer_position }}        </p>
        </div>

        <div>
            <h2>เพิ่มเติม</h2>
            <p>ผู้ร้องเคยร้องให้ศาลออกหมายจับบุคคลดังกล่าวหรือไม่:          {{ draft_form.have_req }}</p>
            <p>ซึ่งเคยยื่นที่ศาล:   {{ draft_form.have_court_code }}</p>
            <p>ความผิด:          {{ draft_form.have_act }}</p>
            <p>และศาลสั่ง:       {{ draft_form.have_injunc }}</p>
        </div>

        <button type="submit">Create Draft</button>
    </form>

<script>
    const req_province = "{{ req_province|escapejs|default:10 }}"
    const req_district = "{{ req_district|escapejs|default:1001 }}"
    const req_sub_district = "{{ req_sub_district|escapejs|default:100101 }}"
    const acc_province = "{{ acc_province|escapejs|default:10 }}"
    const acc_district = "{{ acc_district|escapejs|default:1001 }}"
    const acc_sub_district = "{{ acc_sub_district|escapejs|default:100101 }}"
</script>
<script src="{% static 'js/draft_reqform/handleDistrict.js' %}"></script>
<script type="module">
    import { Thai } from "https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/th.js/+esm"

    const datetime_elements = document.querySelectorAll(".datetimepicker");
    flatpickr(datetime_elements, {
        enableTime: true,
        dateFormat: "Y-m-d H:i:ss",
        altInput: true,
        altFormat: "j F Y H:i น.",
        locale: Thai,
    });
</script>
</body>
</html>