{% extends 'warrant_form/awis_base.html' %}
{% load static %}

{% block title %}Draft Warrant{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/draft_reqform.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block header_script %}
<script type="module">
import flatpickr from 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/+esm'
</script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/th.js"></script>
{% endblock %}

{% block content %}
    <form method="post">
    <button type="button" onclick="window.history.back()" class="back-button">กลับ</button>
        {% csrf_token %}

        <!-- Warrant Info -->
        <!-- <div>
          <h2>หมายเลขหมายจับ</h2>
          <p>หมายเลขอ้างอิง: {{ draft_form.woa_refno }}</p>
        </div> -->
    
        <!-- Fault / Cause -->
        <div>
          <h2>รายละเอียดคดี</h2>
          <p>ประเภทหมายจับ: {{ draft_form.woa_type }}</p>
          <p>ประเภทความผิด: {{ draft_form.fault_type_id }}</p>
          <p>ส่งหมายถึง: {{ draft_form.send_to_name }}</p>
        </div>
    
        <!-- Charges -->
        <div>
          <h2>ข้อกล่าวหา</h2>
          <p>ด้วย: {{ draft_form.cause_text }}</p>
          <p>ซึ่งต้องหาว่ากระทำความผิดฐาน: {{ draft_form.charge }}</p>
          <p>
            {{ draft_form.charge_type_1 }} 1. ได้หรือน่าจะได้กระทำความผิดอาญาซึ่งมีอัตราโทษจำคุกอย่างสูงเกินสามปี
          </p>
          <p>
            {{ draft_form.charge_type_2 }} 2. ได้หรือน่าจะได้กระทำความผิดอาญาและมีอันควรเชื่อว่า</p>
          <p>
            {{ draft_form.charge_type_2_1 }} 2.1 จะหลบหนี 
          </p>
          <p>
            {{ draft_form.charge_type_2_2 }} 2.2 จะไปยุ่งเหยิงกับพยานหลักฐาน
          </p>
          <p>
            {{ draft_form.charge_type_2_3 }} 2.3 ก่อเหตุอันตรายประการอื่น
          </p>
          <p>
            {{ draft_form.charge_type_3 }} 3. อื่นๆ {{ draft_form.charge_other_text }}
          </p>
        </div>
    
        <!-- Accused Info -->
        <div>
          <h2>ข้อมูลผู้ต้องหา</h2>
          <p>ชื่อ-นามสกุล: {{ draft_form.acc_full_name }}</p>
          <p>ประเภทบัตร: {{ draft_form.acc_card_type }}</p>
          <p>เลขบัตร: {{ draft_form.acc_card_id }}</label>
          <p>เชื้อชาติ: {{ draft_form.acc_origin }}</p>
          <p>สัญชาติ: {{ draft_form.acc_nation }}</p>
          <p>อาชีพ: {{ draft_form.acc_occupation }}</p>
          <p>บ้านเลขที่: {{ draft_form.acc_addno }}</p>
          <p>หมู่ที่: {{ draft_form.acc_vilno }}</p>
          <p>ถนน: {{ draft_form.acc_road }}</p>
          <p>ตรอก/ซอย: {{ draft_form.acc_soi }}</p>
          <p>ใกล้: {{ draft_form.acc_near }}</p>
          <p>ตำบล/แขวง: {{ draft_form.acc_sub_district }}</p>
          <p>อำเภอ/เขต: {{ draft_form.acc_district }}</p>
          <p>จังหวัด: {{ draft_form.acc_province }}</p>
          <p>หมายเลขโทรศัพท์: {{ draft_form.acc_tel }}</p>
        </div>
    
        <!-- Appointment -->
        <div>
          <h2>การนัดหมาย</h2>
          <p>ประเภทการนัดหมาย: {{ draft_form.appointment_type }}</p>
          <p>วันที่นัดหมาย: {{ draft_form.appointment_date }}</p>
        </div>
    
        <button type="submit" class="primary-button">บันทึกข้อมูล</button>
    </form>


{% comment %}
<div>
    <h2>หมายเลขหมายจับ</h2>
    woa_type: {{ draft_form.woa_refno }}
    woa_type: {{ draft_form.woa_type }}
    woa_date: {{ draft_form.woa_date }}
</div>

{{ draft_form.fault_type_id }}
{{ draft_form.send_to_name }}
{{ draft_form.cause_text }}

{{ draft_form.charge }}
{{ draft_form.charge_type_1 }}
{{ draft_form.charge_type_2 }}
{{ draft_form.charge_type_2_1 }}
{{ draft_form.charge_type_2_2 }}
{{ draft_form.charge_type_2_3 }}
{{ draft_form.charge_type_3 }}
{{ draft_form.charge_other_text }}

{{ draft_form.acc_full_name }}
{{ draft_form.acc_card_type }}
{{ draft_form.acc_card_id }}
{{ draft_form.acc_origin }}
{{ draft_form.acc_nation }}
{{ draft_form.acc_occupation }}
{{ draft_form.acc_addno }}
{{ draft_form.acc_vilno }}
{{ draft_form.acc_road }}
{{ draft_form.acc_soi }}
{{ draft_form.acc_near }}
{{ draft_form.acc_sub_district }}
{{ draft_form.acc_district }}
{{ draft_form.acc_province }}
{{ draft_form.acc_tel }}

{{ draft_form.appointment_type }} # ในเอกสารคาดว่า Default = 1
{{ draft_form.appointment_date }}
{% endcomment %}

{% endblock %}

{% block script %}
<script>
    const acc_province = "{{ acc_province|escapejs|default:10 }}"
    const acc_district = "{{ acc_district|escapejs|default:1001 }}"
    const acc_sub_district = "{{ acc_sub_district|escapejs|default:100101 }}"
</script>
<script src="{% static 'js/draft_warrant/handleDistrict.js' %}"></script>
<script type="module">
    import { Thai } from "https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/th.js/+esm"

    const datetime_elements = document.querySelectorAll(".datetimepicker");
    flatpickr(datetime_elements, {
        enableTime: true,
        dateFormat: "Y-m-d H:i:ss",
        altInput: true,
        altFormat: "j F Y H:i น.",
        locale: Thai,
    });
</script>
{% endblock %}