@media print {
    @page {
        size: A4;       
        margin-top: 2.5cm;
        margin-bottom: 2.5cm;
        margin-left: 3cm;
        margin-right: 2cm;
    }

    body {
        margin: 0;
    }

    * {
        font-size: 16px !important;
        box-sizing: border-box;
    }

    
    .no-print {
        display: none !important;
    }
    .page-break {
        page-break-after: always !important;
        break-after: page !important;
    }
    form input, form select {
        text-align: center !important;
        color: black;

        border: none !important;
        
        border-radius: 0px !important;
        border-bottom: 1px dashed black !important;
    }
    select {
        background: none;
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    /* input, select {
        min-height: 24px !important; 
        max-height: 24px !important;           
        box-sizing: border-box;     
        font-size: 16px;           
        line-height: 1;             
    } */

    #id_main_form-acc_origin {
        max-width: 6.5rem;
    }

    #id_main_form-acc_age {
        max-width: 2rem;
    }

    input:disabled,
    select:disabled,
    textarea:disabled {
        color: black;
        -webkit-text-fill-color: black; /* fixes Chrome grey text */
        opacity: 1;
    }
    
}
