@page {
    size: A4;       
    margin: 15mm;
}

@media print {
    .no-print {
        display: none !important;
    }
    .page-break {
        page-break-after: always !important;
        break-after: page !important;
    }
    form input, form select {
        font-size: 18px !important;
        border: none !important;
        border-bottom: 1.5px black !important;
        border-bottom-style: dotted !important;
        text-align: center !important;
        border-radius: 0px !important;
        color: black;
    }
    select {
        background: none;
        min-width: 2rem;
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    /* form input[type="checkbox"] {
        border: 1.5px black !important;
        accent-color: white;
    } */

    input:disabled,
    select:disabled,
    textarea:disabled {
        color: black;
        -webkit-text-fill-color: black; /* fixes Chrome grey text */
        opacity: 1;
    }

    /* .item {
        padding: 12px 16px;
        border-bottom: 2px solid #ccc;
        position: relative;
        cursor: pointer;
        }

    .item::after {
        content: "✔";
        position: absolute;
        right: 16px;
        color: green;
        opacity: 0;
        transition: 0.2s;
    }

    .item.checked::after {
        opacity: 1;
    }*/
}
