form {
    max-width: 800px;
    margin: 0 auto;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #000;

}

form p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

form input {
    flex: 1;
    border: 1px solid #6f6767;
    border-radius: 3px;
    font-size: 17px;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    background-color: #efefef;
}

form input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    border-color: black;
}

form select {
    flex: 1;
}

form select {
    border: 1px solid #6f6767;
    border-radius: 3px;
    font-size: 17px;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    background-color: #efefef;
}


form textarea {
    border: 1px solid #6f6767;
    border-radius: 3px;
    font-size: 17px;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    background-color: #f9f9f9;
    resize: vertical;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 4px 2px #3399ff;
    border: 1px solid #3399ff;
}

.button {
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    color: #ffffff;
    background: #30568f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-left: 30px;
}

.button:hover {
    background: #5673a2;
}

.button:active {
    background: #193a6f;
}

.confirm-button {
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    color: #ffffff;
    background: #308f33;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-left: 30px;
}

.confirm-button:hover {
    background: #4aba4e;
}

.confirm-button:active {
    background: #2a7a2c;
}

.judge-paragraph {
    display: flex;
    justify-content: left;
    align-items: center;
}

.judge-input {
    width: 15rem;
    margin-right: 1rem;
}

.judge-input input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.req-info-1 p {
    display: flex;
    justify-content: space-between;
}

.req-info-1 p span {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.req-info-1 p span.double-spans {
    flex: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.req-info-1 p span.double-spans span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.req-info-1 p span.req-info-label-left {
    min-width: 48px;
    flex: none;
}

.req-info-2 p {
    display: flex;
    justify-content: space-between;
}

.req-info-2 p span {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.req-info-2 p span.req-info-label-left {
    min-width: 48px;
    flex: none;
}

.req-info-2 p span.req-info-label-mid {
    margin-left: 4px;
    min-width: 68px;
    flex: none;
}

.req-info-2 p span.req-info-label-right {
    margin-left: 4px;
    min-width: 60px;
    flex: none;
}

.acc-info p {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.acc-info p span {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acc-info p span.acc-info-label-left {
    min-width: 64px;
    flex: none;
}

.acc-info p span.acc-info-label-mid {
    min-width: 64px;
    margin-left: 6px;
    flex: none;
}

.acc-info p span.acc-info-label-right {
    margin-left: 6px;
    min-width: 64px;
    flex: none;
}

/* .acc-info p span.special-top {
    flex: 1;
    display: inline-flex;

} */

.acc-info p span.special-top input {
    min-width: none;
}

p.cause-id-paragraph {
    margin-left: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accused-input {
    flex: 1;
    margin-left: 1rem;
    text-align: left;
}

.accused-input input {
    width: 100%;
    box-sizing: border-box;
}

.form-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.form-header-row h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.form-header-row .emblem {
    height: 3cm;
    width: auto;
    margin: 1.25rem 1.25rem;
}

.type_and_court p {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.lawsuit-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.25rem;
}

.form-header-row p {
    margin-top: 1.25rem;
    min-width: 11rem;
}

.text-area-para {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form p.text-area-para textarea {
    flex: 1;
    max-height: 120px;
}

.header_page_2 {
    width: 800px;
    text-align: center;
}

#id_main_form-req_age {
    max-width: 5rem;
}

#id_main_form-acc_age {
    max-width: 2rem;
}

#id_main_form-acc_origin {
    max-width: 9rem;
}

#id_main_form-plaintiff_1 {
    width: 500px;
}

#id_main_form-plaintiff_2 {
    width: 220px;
}

#id_main_form-req_name {
    width: 300px;
}

#id_main_form-req_pos {
    width: 250px;
}