form {
    max-width: 800px;
    margin: 0 auto;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #000;

}

form :disabled {
    cursor: not-allowed;
    /* box-sizing: border-box; */
}


form input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    border-color: black;
}

form input {
    border: 1px solid #6f6767;
    border-radius: 3px;
    font-size: 17px;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    background-color: #efefef;
}

form select {
    border: 1px solid #6f6767;
    /* width: 11em; */
    border-radius: 3px;
    font-size: 17px;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    background-color: #efefef;
    /* box-sizing: border-box; */
}

form textarea {
    border: 1px solid #6f6767;
    border-radius: 3px;
    font-size: 17px;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    background-color: #f9f9f9;
    resize: vertical;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 4px 2px #3399ff;
    border: 1px solid #3399ff;
}

.button {
    display: inline-block;
    padding: 2px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "TH SarabunPSK", "TH Sarabun New", "TH Sarabun IT๙", sans-serif;
    color: #ffffff;
    background: #30568f;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-left: 30px;
    text-align: center;
}

.button:hover {
    background: #5673a2;
}

.button:active {
    background: #193a6f;
}


.warrant_header p {
    display: flex;
    justify-content: space-between;
}

.warrant_header p span {
    min-width: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warrant_header p span input {
    width: 50rem;
}

.warrant_charge p {
    display: flex;
    justify-content: space-between;
}

.warrant_charge p span {
    min-width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.warrant_charge p span input {
    width: 40rem;
}

.warrant_checking_section p {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 0rem;
}

.warrant_checking_section p span {
    width: 2rem;
    display: flex;
    justify-content: left;
}

.warrant_checking_subclass {
    margin-left: 5rem;
}

.next-to-acc-name-label {
    display: flex;
    justify-content: space-between;
}

.next-to-acc-name-label span {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex: 1;
}

.next-to-acc-name-label input[type="checkbox"] {
    padding-right: 5rem;
    flex: none;
}

.next-to-acc-name-label input {
    flex: 1;
}

.next-to-acc-name-label span {
    flex: 1;
}

.next-to-acc-name-label span.other-charge {
    flex: none;
    width: 2rem;
}

.warrant_info p {
    display: flex;
    justify-content: space-between;
}

.warrant_info p span {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex: 1;
}

.warrant_info p span input {
    flex: 1;
}

.warrant_info p span select {
    flex: 1;
}

.warrant_info p span span {
    flex: 1;
}

.warrant_info p span.acc-name-label {
    flex: none;
    width: 9rem;
}

.warrant_info p span.acc-info-label {
    flex: none;
    width: 5rem;
}

.warrant_info p span+span span.acc-info-label {
    flex: none;
    margin-left: 0.5rem;
    width: 4rem;
}

/* ช่องที่อยู่แบบ double */
.warrant_info .double_input {
    flex: 1 1;
    min-width: 0px;
    display: flex;
    /* justify-content: space-between; */
}


.warrant_info .double_input input {
    width: 100%;
    min-width: 0px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.warrant_info .col-half {
    flex: 0.5;
}

/* สัดส่วน */
.warrant_info .col-1 {
    flex: 1;
}

.warrant_info .col-2 {
    flex: 2;
}