{% extends 'warrant_form/base.html' %}
{% load static %}

{% block title %}Warrant Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step2.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
{% endblock %}

{% block progress_bar %}
{% include 'module/warrant/progressive_bar_2.html'%}
<p style="margin-left: 20%;"><a href="{% url 'forms:to-step1' %}" class="button" >กลับ</a></p>
{% endblock %}

{% block form %}
<form id="warrant-form" method="post">
{% include 'module/warrant/warrant_form.html' %}
</form>
{% endblock %}

{% block script %}
<script>
    const acc_province = "{{ acc_province|escapejs|default:10 }}"
    const acc_district = "{{ acc_district|escapejs|default:1001 }}"
    const acc_sub_district = "{{ acc_sub_district|escapejs|default:100101 }}"
</script>
<script src="{% static 'js/warrantform/handleDistrict.js' %}"></script>
{% if not disabled.is_true %}
<script src="{% static 'js/warrantform/handleQoL.js'%}"></script>
<script src="{% static 'js/warrantform/adjustDateTime.js' %}"></script>
<script src="{% static 'js/warrantform/autoFillField.js' %}"></script>
{% endif %}
{% endblock %}