{% extends 'dashboard/view_all.html' %}
{% load static %}

{% block title %}Review Form{% endblock %}

{% block return %}
<p class="no-print">
    <a href="{% url 'forms:step2' %}" class="button" style="margin: 0px;">กลับ</a> 
</p>
{% endblock %}

{% block step3_special %}
<form method="post" class="no-print">
    {% csrf_token %}
    <p style="display: flex; justify-content: center; margin: 30px 0px"> <button type="submit" class="button" style="background-color: green; margin: 0px;font-size: 2rem;">ยืนยัน</button> </p>
</form>
{% endblock %}


