{% extends 'warrant_form/base.html' %}
{% load static %}

{% block title %}Warrant Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
{% endblock %}

{% block form %}
{% if status == "error" %}
<h3>ข้อมูลที่กรอกมีข้อผิดพลาด</h3>
{% endif %}

<form id="awis-form" onsubmit="confirmForm()" action="/submit/" method="post">
    {% csrf_token %}
    
    <h3>Required in API</h3>
    <p>Court Code: {{ form.court_code }}</p>
    <p>Req Year: {{ form.req_year }}</p>
    <p>Req Case Type ID: {{ form.req_case_type_id }}</p>
    <p>Police Station ID: {{ form.police_station_id }}</p>
    <p>Req No Plaintiff: {{ form.req_no_plaintiff }}</p>

    <h3>Possibly need to be randomly generated via specific Algorithm</h3>
    <p>Create UID (UID that created this form) {{ form.create_uid }}</p>

    <h3>กรุณากรอกข้อมูลด้านบนให้ครบ ส่วนบนไม่มีความเกี่ยวข้อง</h3>
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    <!-- <h3>Currently does not exist in API.</h3>
    <p>Court Name: {{ form.court_name }}</p>  -->
    <div class="form-header-row">    
        <p>(คำร้อง) <br><br>ขอออกหมายจับ </p>
        <img src="{% static 'images/Thai_Goverment_Emblem.jpg' %}" alt="Thai Emblem" class="emblem">
        <p> ที่ {{req_no}}</p>
    </div>
    
    <div class="type_and_court">
        <p>{{form.req_case_type_id}}<br> รับคำร้อง <br><br> เรียกสอบ</p>
        <p align="right">ศาล {{form.court_name}} <br><br> วัน {{form.scene_date_day}} เดือน {{form.scene_date_month}} พ.ศ. {{form.scene_date_year}}</p>
    </div>

    <p>{{ form.judge_name }} ผู้พิพากษา</p>

    <div class="first_plaintiff">
        <p align="center">ความอาญา <br></p>
        <p align="right">{{ form.plaintiff }} ผู้ร้อง</p>
    </div>
    <p align="right">ข้าพเจ้า {{ form.req_name }} ตำแหน่ง {{ form.req_pos }}</p>
    <p>อายุ {{ form.req_age }} ปี อาชีพ รับราชการ สถานที่ทำงาน {{ form.req_office }}</p>
    <p>จังหวัด {{ form.req_province }} อำเภอ/เขต {{ form.req_district }} ตำบล/แขวง {{ form.req_sub_district }}</p>
    <p> โทรศัพท์ {{ form.req_tel }} ขอทำคำร้องขอออกหมายจับยื่นต่อศาลดังต่อไปนี้</p>

    <p align="right">ข้อ 1. {{ form.cause_type_id_1 }} ด้วย {{ form.cause_text_1 }} </p>
    <p> มาแจ้งความร้องทุกข์ต่อพนักงานสืบสวน</p>
    
    <p align="right">ข้อ 1. {{ form.cause_type_id_1 }} ด้วย {{ form.cause_text_1 }} </p>
    <p> มาแจ้งความร้องทุกข์ต่อพนักงานสืบสวน</p>

    <p align="right">{{ form.cause_type_id_2 }} ปรากฎจากการสืบสวนของ {{ form.cause_text_2 }}</p>

    <p>ว่า {{ form.acc_full_name }} เลขบัตรประชาชน {{ form.acc_card_id }}</p>
    <p>อายุ {{ form.acc_age }} เชื้อชาติ {{ form.acc_origin }} สัญชาติ {{ form.acc_nation }} อาชีพ {{ form.acc_occupation }}</p>
    <p>อยู่บ้านเลขที่ {{ form.acc_addno }} หมู่ที่ {{ form.acc_vilno }} ถนน {{ form.acc_road }}</p>
    <p>ตรอก/ซอย {{ form.acc_soi }} ใกล้เคียง {{ form.acc_near }} จังหวัด {{ form.acc_province }}</p>
    <p>อำเภอ/เขต {{ form.acc_district }} ตำบล/แขวง {{ form.acc_sub_district }} โทรศัพท์ {{ form.acc_tel }}</p>

    <p>{{ form.charge_type_1 }} ได้หรือน่าจะได้กระทำความผิดอาญาร้ายแรงซึ่งมีอัตราโทษจำคุกอย่างสูงเกิน 3 ปี</p>
    <p>{{ form.charge_type_2 }} ได้หรือน่าจะได้กระทำความผิดอาญา และน่าจะหลบหนีหรือจะไปยุ่งเหยิงกับพยานหลักฐานหรือก่ออันตรายประการอื่น</p>

    <p>เหตุเกิดที่ {{ form.scene }}</p>
    <p>เมื่อวันที่ {{ form.scene_date_day }} เดือน {{ form.scene_date_month }} พ.ศ. {{ form.scene_date_year }} เวลา {{form.scene_date_timehalf}} นาฬิกา</p>

    <p>มีพฤติการณ์กระทำความผิดที่เกี่ยวกับเหตุออกหมายจับ คือ {{ form.act}} </p>
    <p>เป็นการกระทำความผิดฐาน {{ form.charge}}</p>

    <p>ตามกฎหมาย {{ form.law }} </p>
    <p>รายละเอียดข้อมูลและพยานหลักฐาน ปรากฎตามที่เอกสารที่แนบมาพร้อมนี้</p>

    <p align="right">ข้อ 2. ผู้ร้องประสงค์จะทำการจับกุม  {{ form.acc_full_name }}</p>
    <p>จึงขอให้ศาลออกหมายจับ   {{ form.acc_full_name }} มาดำเนินคดี</p>
    
    <p>ในการยื่นคำร้องนี้ ผู้ร้องได้มอบหมายให้ {{ form.agent_name }}</p>
    <p>ตำแหน่ง {{ form.agent_pos }} ซึ่งเป็นผู้ใต้บังคับบัญชา เป็นผู้นำคำร้องมายื่นต่อศาล <br>และหากศาลเรียกสอบถามเมื่อใด ผู้ร้องพร้อมจะมาให้ศาลสอบในทันที</p>

    <p align="right">ผู้ร้อง  {{form.have_req_1}} เคย {{form.have_req_2}} ไม่เคย ร้องขอให้ศาล {{form.court_name}}</p>
    <p>ออกหมายจับบุคคลดังกล่าว โดยอาศัยเหตุแห่งการร้องขอเดียวกันนี้ หรือเหตุอื่น (ระบุ) </p>
    <p>{{ form.have_act }}</p>
    <p>และศาลสั่ง {{ form.have_injunc }} </p>
    
    <p align="center">ควรมิควรแล้วแต่จะโปรด</p>

    <p align="center">(ลงชื่อ) ({{ form.plaintiff }})  ผู้ร้อง</p>

    <button type="submit">Next</button>
</form>
{% endblock %}

{% block script %}
<script>
    // Variable setup
    const awis_form = document.getElementById("awis-form");

    const year_selector = document.getElementById("id_main_form-scene_date_year");
    const month_selector = document.getElementById("id_main_form-scene_date_month");
    const day_selector = document.getElementById("id_main_form-scene_date_day");

    let req_province_sel = document.getElementById("id_main_form-req_province");
    let req_district_sel = document.getElementById("id_main_form-req_district");
    let req_sub_district_sel = document.getElementById("id_main_form-req_sub_district");

    let acc_province_sel = document.getElementById("id_main_form-acc_province");
    let acc_district_sel = document.getElementById("id_main_form-acc_district");
    let acc_sub_district_sel = document.getElementById("id_main_form-acc_sub_district");

    let is_submitting_form = false;

    let all_district = [];
    let all_sub_district = [];
</script>
<script>
    // Setup Code
    for (let element of req_district_sel) {
        all_district.push({
            "value": element.value,
            "innerText": element.innerText,
        })
    }
    for (let element of req_sub_district_sel) {
        all_sub_district.push({
            "value": element.value,
            "innerText": element.innerText,
        })
    }
</script>
<script>
    // Non-Async Function
    function adjustYearToLatest() {
        year_selector.value = new Date().getFullYear();
    }
    function changeSelectValue(frontal_substring, targeted_sel, full_list) {
        let options = [];
        for (let child of full_list) {
            if (String(child.value).startsWith(frontal_substring)) {
                options.push(child);
            }
        }
        targeted_sel.innerHTML = "";
        options.forEach(dict => {
            let optionElement = document.createElement("option");
            optionElement.value = dict.value;
            optionElement.innerText = dict.innerText;

            targeted_sel.appendChild(optionElement);
        });
    }
</script>
<script>
// AUTORUN ON START
    adjustYearToLatest();
    changeSelectValue("10", req_district_sel, all_district)
    changeSelectValue("10", acc_district_sel, all_district)
</script>
<script>
// EVENT LISTENERS
code_select_arr = [
    [req_province_sel, req_district_sel, req_sub_district_sel,],
    [acc_province_sel, acc_district_sel, acc_sub_district_sel,],
]
code_select_arr.forEach(element => {
    // FOR PROVINCE TO CHANGE DISTRICT
    element[0].addEventListener("change", function () {
        changeSelectValue(element[0].value, element[1], all_district);
        changeSelectValue(element[1].value, element[2], all_sub_district);
    });
    // FOR DISTRICT TO CHANGE SUB_DISTRICT
    element[1].addEventListener("change", function () {
        changeSelectValue(element[1].value, element[2], all_sub_district);
    });
});
awis_form.addEventListener("submit", function () {
    is_submitting_form = true;
});
window.addEventListener("beforeunload", function (e) {
    if (!is_submitting_form) {
        e.preventDefault();
        e.returnValue = ""; 
    }
});
</script>
{% endblock %}
