{% extends 'warrant_form/base.html' %}
{% load static %}

{% block title %}Request Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
{% endblock %}

{% block progress_bar %}
{% include 'module/reqform/progressive_bar.html'%}
<p><a href="{% url 'dashboard:dashboard' %}" class="button" >กลับ</a></p>
{% endblock %}

{% block form %}
{% include 'module/reqform/reqform.html' %}
{% endblock %}

{% block defer_script %}
{% endblock %}
{% block script %}
{% if not disabled.is_true %}
<script src="{% static 'js/reqform/adjustDateTime.js' %}"></script>
<script src="{% static 'js/reqform/handleQoL.js' %}"></script>
<script src="{% static 'js/reqform/handleDistrict.js' %}"></script>
<script src="{% static 'js/reqform/autoFillField.js' %}"></script>
<script src="{% static 'js/reqform/autoDisableField.js' %}"></script>
{% endif %}
{% endblock %}
