{% extends 'warrant_form/base.html' %}
{% load static %}

{% block title %}Warrant Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
{% endblock %}

{% block form %}
{% include 'module/reqform.html' %}
{% endblock %}

{% block defer_script %}
<script src="{% static 'js/reqform/_var_reqform.js'%}"></script>
{% endblock %}
{% block script %}
{% if not disabled.is_true %}
<script src="{% static 'js/reqform/adjustDate.js' %}"></script>
<script src="{% static 'js/reqform/adjustTime.js' %}"></script>
<script src="{% static 'js/reqform/handleDistrict.js' %}"></script>
<script src="{% static 'js/reqform/autoFillField.js' %}"></script>
{% endif %}
{% endblock %}
