{% extends 'warrant_form/awis_base.html' %}
{% load static %}

{% block title %}Request Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
{% endblock %}

{% block progress_bar %}
<p style="margin-left: 20%;"><a href="{% url 'dashboard:dashboard' %}" class="button">กลับ</a></p>
{% endblock %}

{% block form %}
<form id="ownership-form" method="post">
    {% csrf_token %}

    <p><span>Form Creator:</span> {{ creator }}</p>
    <p><span>Form Owner:</span> {{ form.form_owner }}</p>

    <button type="submit">Confirm</button>
</form>
{% endblock %}

