<script>
function attachConfirmEventHref(link_elem, post, data) {

    if (post) {
        console.log(data.container_id)

        document.getElementById('dialog-confirm').onclick = (async () => {
            const response = await fetch(link_elem.href, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                },
            });

            console.log(await response.text())

            if (response.redirected) {
                window.location.href = response.url;
                dialog_element.close();
            }
        })
    }
    else {
        document.getElementById('dialog-confirm').onclick = (() => {
            window.location.href = link_elem.href;
            dialog_element.close();
        });
    }

    document.getElementById('dialog-cancel').onclick = (() => {
        dialog_element.close();
    });
}

function ahrefDialog(event, link_elem, post = false, data = {}, custom_msg = null) {
    event.preventDefault();

    attachConfirmEventHref(link_elem, post, data);

    const DEFAULT_MSG = `ยังไม่ได้บันทึก จะย้อนกลับจริงหรือไม่`;

    text_label.textContent = custom_msg || DEFAULT_MSG;

    dialog_element.showModal();
}
</script>