<script>
function attachConfirmEvent() {
    document.getElementById('dialog-confirm').onclick = (() => {
        window.history.back()
        dialog_element.close();
    });
    document.getElementById('dialog-cancel').onclick = (() => {
        dialog_element.close();
    });
}

function goBackDialog(custom_msg = null) {
    attachConfirmEvent()

    const DEFAULT_MSG = `ยังไม่ได้บันทึก จะย้อนกลับจริงหรือไม่`;

    text_label.textContent = custom_msg || DEFAULT_MSG;

    dialog_element.showModal();
}
</script>