{% load static %}
{% load thai_locale %}

<div id="body-table">
    <table class="styled-table">
        <thead>
            <tr>
                <th colspan="8">สถานะคำร้องที่ส่งให้ศาลสำเร็จแล้ว</th>
            </tr>
            <tr>
                <th>เลขอ้างอิงคำร้อง</th>
                <th>สถานะการรับคำร้อง</th>
                <th>เลขที่คำร้อง</th>
                <th>วันที่รับคำร้อง</th>
                <th>วันที่อนุมัติคำร้อง</th>
                <th>ดูหมายจับ</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms_sent %}
            <tr>
                <td>{{ form.req_no_plaintiff }}</td>
                <td>{{ form.accept }}</td>
                <td>{{ form.reqno }}</td>
                <td>{% if form.recive_date %}
                        {{ form.recive_date | buddhist_date}}
                    {% else %}
                        -
                    {% endif %}</td>
                <td>
                    {% if form.accept_date %}
                        {{ form.accept_date|buddhist_date }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'dashboard:view_reqform_warrants' form.req_no_plaintiff %}">ดูหมายจับ</a>
                </td>
                <td>
                    <a href="{% url 'forms:view_form' form.req_no_plaintiff %}">ดูคำร้อง</a>
                    <a href="{% url 'dashboard:delete_sent_reqform' form.req_no_plaintiff %}">ยกเลิกการส่งคำร้อง</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No forms available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>