{% load static %}
{% load thai_locale %}

<div id="body-table">
    <table class="styled-table">
        <thead>
            <tr>
                <th colspan="8">สถานะคำร้อง</th>
            </tr>
            <tr>
                <th>#</th>
                <th>หมายเลขคำร้อง</th>
                <th>เลขอ้างอิง</th>
                <th>ผู้ถูกกล่าวหา</th>
                <th>วันที่คำร้อง</th>
                <th>หมายจับ</th>
                
                <th>สถานะ</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for form in reqform_infos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ form.reqno }}</td>
                <td>{{ form.req_no_plaintiff }}</td>
                <td>{{ form.accused }}</td>
                <td>{{ form.req_date }}</td>
                
                {% if form.action == "report" %}
                <td>
                    <a href="{% url 'dashboard:view_reqform_warrants' form.req_no_plaintiff %}">สถานะหมายจับ</a>
                </td>
                {% else %}
                <td>
                    -
                </td>
                {% endif %}

                <td>{{ form.status }}</td>
                
                {% if form.action == "approve" %}
                    {% if form.status_int == 0 %}
                    <td>
                        <a href="{% url 'forms:edit_form' form.req_no_plaintiff %}">แก้ไขคำร้อง</a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url 'dashboard:confirm_approve' form.req_no_plaintiff %}">ตรวจสอบคำร้อง</a>
                    </td>
                    {% endif %}
                {% elif form.action == "report" %}
                    {% if form.status_int == 1 %}
                    <td>
                        <a href="{% url 'dashboard:view_reqform_warrants' form.req_no_plaintiff %}">ดูหมายจับ</a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{% url 'dashboard:delete_sent_reqform' form.req_no_plaintiff %}">ยกเลิกการส่งคำร้อง</a>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td>ไม่มีคำร้อง</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>