{% load static %}
{% load thai_locale %}

<div id="body-table">
    <table class="styled-table">
        <thead>
            <tr>
                <th colspan="7">สถานะคำร้องที่รอการอนุมัติเพื่อส่งให้กับศาล</th>
            </tr>
            <tr>
                <!-- <th>ID</th> -->
                <th>สถานะการอนุมัติ</th>
                <th>ผู้ร่าง</th>
                <th>เจ้าของร่าง</th>
                <th>วันที่สร้าง</th>
                <th>วันที่อนุมัติ</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <!-- <td>{{ form.id }}</td> -->
                <td>{{ form.get_approve_status_display }}</td>
                <td>{{ form.form_creator }}</td>
                <td>{{ form.form_owner }}</td>
                <td>{{ form.date_created|buddhist_date }}</td>
                <td>
                    {% if form.date_approved %}
                        {{ form.date_approved|buddhist_date }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'dashboard:get_form' form.form.req_form_number %}">View</a> |
                    {% comment %}<a href="{% url 'dashboard:edit_form' form.form.req_form_number %}">Edit</a> |{% endcomment %}
                    <a href="{% url 'dashboard:confirm_approve' form.form.req_form_number %}">Approve</a> |
                    <a href="{% url 'dashboard:confirm_reject' form.form.req_form_number %}">Reject</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No forms available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>