{% if color == 1 %}
<span class="colored-status" style="background-color: #D3D1C7; color: #444441;"> {% comment %} ร่างคำร้อง — เทา {% endcomment %}
{% elif color == 10 %}
<span class="colored-status" style="background-color: #FAC775; color: #633806;"> {% comment %} กำลังรอการพิจารณา — เหลือง {% endcomment %}
{% elif color == 11 %}
<span class="colored-status" style="background-color: #F7C1C1; color: #501313;"> {% comment %} ไม่ผ่านการพิจารณา — แดง {% endcomment %}
{% elif color == 20 %}
<span class="colored-status" style="background-color: #B5D4F4; color: #042C53;"> {% comment %} รอศาลตอบรับ — นำ้เงิน {% endcomment %}
{% elif color == 22 %}
<span class="colored-status" style="background-color: #F5C4B3; color: #4A1B0C;"> {% comment %} ไม่รับ — ส้ม {% endcomment %}
{% elif color == 23 %}
<span class="colored-status" style="background-color: #c3dd97; color: #42500a;"> {% comment %} รอรายงานผลหมายจับ — เหลืองเขียว {% endcomment %}
{% elif color == 24 %}
<span class="colored-status" style="background-color: #FAECE7; color: #712B13;"> {% comment %} จับไม่สำเร็จ — ส้มอ่อน {% endcomment %}
{% elif color == 25 %}
<span class="colored-status" style="background-color: #9bdd97; color: #27500A;"> {% comment %} รายงานผลสำเร็จ — เขียว {% endcomment %}
{% elif color == 99 %}
<span class="colored-status" style="background-color: #2C2C2A; color: #D3D1C7;"> {% comment %} ยกเลิกคำร้อง — ดำ {% endcomment %}
{% endif %}
    {{ status }}
</span>