{% load static %}
{% load thai_locale %}

<div id="body-table">
    <table class="styled-table">
        <thead>
            <tr>
                <th colspan="11">สถานะของหมายศาล</th>
            </tr>
            <tr>
                <th>เลขอ้างอิงหมายศาล</th>
                <th>คำสั่งศาล</th>
                {% comment %}
                <th>เลขที่หมายจับ</th>
                <th>ประเภทหมายจับ</th>
                <th>ชื่อผู้พิพากษาที่ลงนาม</th>
                <th>วันที่ศาลมีคำสั่ง</th>
                {% endcomment %}
                <th>ที่อยู่ไฟล์หมายจับ</th>
                <th>หมายเหตุ</th>
                <th>สถานะการรายงาน</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for form in warrants %}
            <tr>
                <td>
                    {{ form.woa_refno }}
                </td>
                <td>
                    {% if form.court_injunction %}
                        {{ form.court_injunction }}
                    {% else %}
                        ---
                    {% endif %}
                </td>
                {% comment %}
                <td>
                    {{ form.woa_no_and_year }}
                </td>
                <td>
                    {{ form.woa_type }}
                </td>
                <td>
                    {{ form.judge_name }}
                </td>
                <td>
                    {{ form.injunction_date|buddhist_date }}
                </td>
                {% endcomment %}
                <td>
                    {% if form.file_path != "" %}
                    <a href="{{ form.file_path }}">
                        Link
                    </a>
                    {% else %}
                    <span>
                        -
                    </span>
                    {% endif %}
                </td>
                <td>
                    {{ form.because }}
                </td>
                <td>
                    {% if form.report_status == 0 %}
                    ยังไม่ได้รายงาน
                    {% elif form.report_status == 1 %}
                    รายงานแล้ว
                    {% endif %}
                </td>
                <td>
                    {% if form.court_injunction_int == 1 %}
                    <a href="{% url 'dashboard:report_warrant' form.req_no_plaintiff form.woa_refno %}">รายงานผลหมาย</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">No forms available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>