<div class="warrant_info">
    <p>
        <span>
            <span class="acc-name-label"> เพราะฉะนั้นให้ท่านจับตัว </span>{{ form.acc_full_name_2 }}
        </span>
    </p>
    <p>
        <span class="col-2">
            <span class="acc-name-label">เลขบัตรประชาชน</span> {{ form.acc_card_id }}
        </span>
        <span class="col-1"><span class="acc-info-label">เชื้อชาติ</span> {{ form.acc_origin }}</span>
    </p>
    <p>
        <span class="col-2">
            <span><span class="acc-info-label">สัญชาติ</span> {{ form.acc_nation }}</span>
            <span><span class="acc-info-label">อาชีพ</span> {{ form.acc_occupation }}</span>
        </span>
        <span class="double_input">
            <span class="double_input_inside"><span class="acc-info-label">อยู่บ้านเลขที่</span> {{ form.acc_addno }}</span>
            <span class="double_input_inside"><span class="acc-info-label" style="width: 2rem;">หมู่ที่</span> {{ form.acc_vilno }}</span>
        </span>
    </p>
    <p>
        <span> <span class="acc-info-label">ถนน</span> {{ form.acc_road }} </span>
        <span> <span class="acc-info-label">ตรอก/ซอย</span> {{ form.acc_soi }} </span>
        <span> <span class="acc-info-label">ใกล้เคียง</span> {{ form.acc_near }} </span>
    </p>
    <p>
        <span> <span class="acc-info-label">ตำบล/แขวง</span> {{ form.acc_sub_district}} </span>
        <span> <span class="acc-info-label">อำเภอ/เขต</span> {{ form.acc_district }} </span>
        <span> <span class="acc-info-label">จังหวัด</span> {{ form.acc_province }} </span>
    </p>
    <p>
        <span class="col-1"> <span class="acc-info-label">โทรศัพท์</span> {{ form.acc_tel }} </span>
        <span class="col-2"> <span class="acc-info-label">ส่งไปที่</span> {{ form.acc_send_to }} </span> 
    </p>
    <!-- <p>
        <span> นับตั้งแต่วันที่ {{ form.acc_start }} </span>
        <span> เพื่อที่ จะดำเนินตามกฎหมายแต่ไม่เกินวันที่ {{ form.acc_end }} </span>s
    </p> -->
</div> 
<!-- <p>
    <span> ภายในอายุความ {{ form.acc_limitation }} ปี </span>
</p> -->

