{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Accept_table_page{% endblock %}

{% block body %}
<div id="header-container">
    <div class="logo-row">
        <img src="{% static 'images/TCCT_LOGO.png' %}" alt="TCCT_Logo" >
        <br>
        <div class="separate-line"></div>
    </div>
    <div>
    <a href="{% url 'dashboard:dashboard' %}" class="button-logout" style="margin-top: 10px">Back</a>
    </div>
    {% include 'module/accept_table.html' %}
    {% comment %}
    <a href="{% url 'dashboard:warrant_status_page' %}" class="button-logout" style="margin-top: 10px">ไปหน้าสถานะหมายจับ</a>
    {% endcomment %}
</div>
{% endblock %}