{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div id="header-container">
    <div class="logo-row">
        <img src="{% static 'images/TCCT_LOGO.png' %}" alt="TCCT_Logo" >
        <br>
        <div class="separate-line"></div>
    </div>
    <div class="header-row"> 
        <h1 style="font-size: 40px;margin-left: 20px;">Dashboard</h1> 
        <p>
            {% if request.user.is_staff %}
            <a href="{% url 'admin_panel:collections' %}" class="button">Go to Admin Page</a>
            {% endif %}
            Username: <span class="username-value">{{ user.username }}</span> 
            <a href="{% url 'users:logout' %}" class="button-logout">logout</a>
        </p>
    </div>
    <div class="header-bar">
        <a href="{% url 'forms:step0' %}" >เพิ่มคำร้องหมายจับ</a>
        <a href="{% url 'dashboard:approve_form_page' %}">อนุมัติแบบฟอร์ม</a>
        <a href="{% url 'api:test:login' %}" >ทดสอบเอา token ใส่คุ้กกี้</a>
        <a href="{% url 'api:test:health' %}" >ทดสอบ HEALTH CHECK</a>
        <a href="{% url 'api:test:check_reqform' %}" >ทดสอบ CHECK REQFORM</a>
    </div>
    {% include 'module/approve_table.html' %}

    {% include 'module/accept_table.html' %}

    {% include 'module/warrant_status_table.html' %}
</div>
{% endblock %}