{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div id="header-container">
    <div class="logo-row">
        <img src="{% static 'images/TCCT_LOGO.png' %}" alt="TCCT_Logo" >
        <br>
        <div class="separate-line"></div>
    </div>
    <div class="header-row"> 
        <h1 style="font-size: 40px;margin-left: 20px;">Dashboard</h1> 
        <p>
            {% if request.user.is_staff %}
            <a href="{% url 'admin_panel:collections' %}" class="button">Go to Admin Page</a>
            {% endif %}
            Username: <span class="username-value">{{ user.username }}</span> 
            <a href="{% url 'users:logout' %}" class="button-logout">logout</a>
        </p>
    </div>
    <div class="header-bar">
        <div class="tool-card">
            <a href="{% url 'dashboard:approve_table_page' %}">
                <img src="{% static 'dashboard/images/pending-approval.svg' %}" alt="Approve">
                <h3>สถานะคำร้องที่รอการอนุมัติเพื่อส่งให้กับศาล</h3>
            </a>
        </div>
    
        <div class="tool-card">
        <a href="{% url 'dashboard:accept_table_page' %}">
                <img src="{% static 'dashboard/images/approved-form.png' %}" alt="Accept">
                <h3>ตารางสถานะคำร้องที่ส่งให้ศาลสำเร็จแล้ว</h3>
            </a>
        </div>
        {% if can_create_form %}
        <a href="{% url 'forms:step0' %}" >เพิ่มคำร้องหมายจับ</a>
        {% endif %}

        {% comment %}
        {% if can_approve_form %}
        <a href="{% url 'dashboard:approve_form_page' %}">อนุมัติแบบฟอร์ม</a>
        {% endif %}
        <a href="{% url 'api:test:login' %}" >ทดสอบเอา token ใส่คุ้กกี้</a>
        <a href="{% url 'api:test:health' %}" >ทดสอบ HEALTH CHECK</a>
        <a href="{% url 'api:test:check_reqform' %}" >ทดสอบ CHECK REQFORM</a>
        {% endcomment %}
    </div>
    <div>
        {% include 'module/drafts_form_table.html' %}
        <div class="dashboard-tools">
            
            
            {% comment %}
            <div class="tool-card">
                <a href="{% url 'dashboard:warrant_status_page' %}">
                    <img src="{% static 'dashboard/images/checking-status.png' %}" alt="Access-List">
                    <h3>ตารางสถานะของหมายศาล</h3>
                </a>
            </div>
            {% endcomment %}
        </div>
        
    </div>

    {% comment %} 

    {% include 'module/accept_table.html' %}

    {% include 'module/warrant_status_table.html' %} {% endcomment %}
</div>
{% endblock %}