{% extends 'warrant_form/base.html' %}
{% load static %}

{% block title %}Warrant Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
    <link rel="stylesheet" href="{% static 'css/step2.css' %}">
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    {% block return %}
    <p class="no-print">
        <a href="{% url 'dashboard:dashboard' %}" class="button" style="margin-left: 0;">กลับ</a>
    </p>
    {% endblock %}
    <div>
        {% include 'module/reqform/reqform.html' with form=form %}
    </div>

    {% for form in warrant_list %}
        <div class="page-break">
            <hr class="no-print">
        </div>
        <div>
            {% include 'module/warrant/warrant_form.html' %}
        </div>
        {% empty %}
        <p>No warrant</p>
    {% endfor %}
    <p style="text-align: center;"><button type="submit" class="confirm-button">ยืนยันการแก้ไข</button></p>
</form>
{% endblock %}

{% block script %}
{% include 'module/view_form_script.html' %}
{% endblock %}

