{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Reqform Info{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
<style>
    .card {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        font-family: 'Noto Sans Thai', 'IBM Plex Sans Thai', 'Sarabun', sans-serif;
    }
</style>
{% endblock %}

{% block body %}
<div>
    <section class="card">
        <h2>คำร้อง</h2>
        <p>สถานะ: {{ status }}</p>
        <p>{{ reqform }}</p>
        <p>
            <a href="#">ดูคำร้อง</a>
            <a href="#">ดาวน์โหลดไฟล์</a>
        </p>
    </section>
    <section class="card">
        <h2>หมายจับ</h2>
        {% for warrant_obj in warrants %}
        <div>
            {% if action == "report" %}
            <p>
                {{ warrant_obj.warrant }}
                <span>
                    สถานะ: 
                    {{ warrant_obj.get_court_injunction_display }}
                </span>
                <a href="#">ดูหมายจับ</a>
                <a href="#">ดาวน์โหลดไฟล์</a>
                {% if warrant_obj.court_injunction == 1 %}
                <a href="#">รายงานผลหมาย</a>
                {% endif %}
            </p>
            {% elif action == "approve" %}
            <p>
                {{ warrant_obj }}
                <a href="#">ดูหมายจับ</a>
                <a href="#">ดาวน์โหลดไฟล์</a>
            </p>
            {% endif %}
        </div>
        {% empty %}
        <div>
            None
        </div>
        {% endfor %}
    </section>
    <section class="card">
        {% if action == "report" %}
            {% if status_int == 99 %}
            <p>
                <a href="{% url 'dashboard:delete_sent_reqform' reqform.req_no_plaintiff %}">ยกเลิกการส่งคำร้อง</a>
            </p>
            {% elif status_int == 0 %}
            <p>ไม่รับ</p>
            {% elif status_int == 1 %}
            <p>
                รับ
            </p>
            {% else %}
            <p>ERROR</p>
            {% endif %}
        {% elif action == "approve" %}
            {% if status_int == 0 %}
            <p>
                <a href="{% url 'forms:edit_form' reqform.req_no_plaintiff %}">แก้ไขคำร้อง</a>
            </p>
            {% else %}
            <p>
                <a href="{% url 'dashboard:confirm_approve' reqform.req_no_plaintiff %}">ตรวจสอบคำร้อง</a>
            </p>
            {% endif %}
        {% endif %}
    </section>
</div>
{% endblock %}