{% extends 'warrant_form/base.html' %}
{% load static %}

{% block title %}Warrant Form{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/step1.css' %}">
    <link rel="stylesheet" href="{% static 'css/step2.css' %}">
{% endblock %}

{% block form %}
<form>
    {% block return %}
    <p class="no-print">
        <p style="margin-left: 15%;"> <a href="{% url 'dashboard:dashboard' %}" class="button" >กลับ</a> </p>
    </p>
    {% endblock %}
    <div>
        {% include 'module/reqform/reqform.html' %}
    </div>

    {% for form in warrant_list %}
        <div class="page-break">
            <hr class="no-print">
        </div>
        <div>
            {% include 'module/warrant/warrant_form.html' %}
        </div>
        {% empty %}
        <p>No warrant</p>
    {% endfor %}

    {% block step3_special %}
    {% endblock %}
{% endblock %}

{% block script %}
<script>
    const req_province = "{{ req_province|escapejs }}"
    const req_district = "{{ req_district|escapejs }}"
    const req_sub_district = "{{ req_sub_district|escapejs }}"
    const acc_province = "{{ acc_province|escapejs }}"
    const acc_district = "{{ acc_district|escapejs }}"
    const acc_sub_district = "{{ acc_sub_district|escapejs }}"
</script>
<script src="{% static 'js/reqform/handleDistrict.js' %}"></script>
<script src="{% static 'js/warrantform/handleDistrict.js' %}"></script>
{% endblock %}

