{% extends "admin_panel/base.html" %}
{% load static %}


{% block title %}Access List{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'admin_panel/css/select_users.css' %}">
{% endblock %}

{% block content %}
<div style="display: flexbox; margin: 8px;">
  <form method="post">
    {% csrf_token %}
    <h1>Court Selected</h1>
    <table border="1" style="margin: 10 10px">
        <tr>
            <th>Select</th>
            <th>Court Code</th>
            <th>Court Name</th>
        </tr>
        {% for court in court_list %}
        <tr>
            <td>
                <input 
                type="checkbox" 
                name="selected_courts" 
                value="{{ court.court_code }}"
                >
            </td>
            <td>{{ court.court_code }}</td>
            <td>{{ court.name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">ไม่มีข้อมูล</td>
        </tr>
        {% endfor %}
    </table>
    <button>Select</button>
  </form>
</div>
{% endblock %}