{% load static %}
{% load thai_locale %}

<div id="body-table">
    <table class="styled-table">
        <thead>
            <tr>
                <th>time_logged</th>
                <th>user_id</th>
                <th>username</th>
                <th>fullname</th>
                <th>action</th>
                <th>system</th>
                <th>relevant_info</th>
                <th>url_path</th>
                <th>remark</th>
            </tr>
        </thead>
        <tbody>
            {% for log in page_obj %}
            <tr>
                <td>{{ log.time_logged|buddhist_date }}</td>
                <td>{{ log.user_id }}</td>
                <td>{{ log.username }}</td>
                <td>{{ log.fullname }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.system }}</td>
                <td>{{ log.relevant_info|default_if_none:"---" }}</td>
                <td>{{ log.url_path }}</td>
                <td>{{ log.remark|default_if_none:"---" }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="9">No Log.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?{{ page_param }}={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?{{ page_param }}={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
</div>
