body {
    font-family: 'Noto Sans Thai', 'IBM Plex Sans Thai', 'Sarabun', sans-serif;
    /* background-image: url("/static/dashboard/images/background.jpg"); */
    background: linear-gradient(to bottom, rgb(226, 158, 32) 50%, rgb(220, 220, 220) 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-container {
    width: 400px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    /* border-radius: 5%; */
    border: none;
    text-align: center;
    color: rgb(0, 0, 0);
}

.confirm-button {
    width: 100px;
    height: 40px;
    background-color: brown;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.confirm-container p:last-child {
    text-align: center;
    padding-top: 15px;

}

.confirm-button:hover {
    background-color: rgb(211, 49, 49);
}

.confirm-button:active {
    background-color: rgb(137, 14, 14);
}

.back-button {
    text-decoration: none;
}